* {
  margin: 0;
  padding: 0;
}
#container {
  margin: 15px;
  height: 100%;
}
#tabs {
  font-size: 90%;
  margin: 20px 0;
}
#tabs ul {
  float: left;
  background: #fff;
  padding-top: 4px;
}
#tabs li {
  margin-left: 8px;
  list-style: none;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
* html #tabs li {
  display: inline;
}
#tabs li, #tabs li a {
  float: left;
}
#tabs ul li.active {
  border-top:2px #58585A solid;
  background: #DCDCE0;
}
#tabs ul li.active a {
  color: #333333;
}
#tabs .tab {
  background: #DCDCE0;
  clear: both;
  padding: 15px;
  min-height: 200px;
  position:relative;
}
#tabs div h3 {
  margin-bottom: 12px;
}
#tabs div .sensor {
  line-height: 150%;
}
#tabs ul li a {
  text-decoration: none;
  padding: 8px;
  color: #000;
  font-weight: bold;
}
.elements {
  margin: 20px;
}
.inside {
  margin: 5px;
}
.sensors {
  width: 48%;
  height: 45%;
  margin: 5px;
}
.sensors label {
  margin: 20px;
}

.block {
  height: 45%;
  margin: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #292929;
  border-radius:10px;
}

.header {
  font-size: 80%;
  font-weight: bold;
}
.footer {
  margin: 20px;
  font-size: 80%;
  font-weight: bold;
  font-style: italic;
}
.template {
  display: none;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label {
  background: url('../images/switch-off.jpg') no-repeat;
  padding-left: 55px;
  height: 23px;
  vertical-align:middle;
  display:inline-block;
}

hr {
  height: 3px;
  color: #292929;
  background-color: #292929;
}

input[type=checkbox]:checked + label {
  background: url('../images/switch-on.jpg') no-repeat;
}

.sensor {
  margin: 2px;
}

.sw-type-tw {
  margin: 4px;
}

.sw-type-nc {
  margin: 4px;
}

.class-schedule {
  margin: 4px;
}

.camera-control {
  margin: 4px;
}

.sw-type-nc input[type=checkbox] + label {
  background: url('../images/switch-on.jpg') no-repeat;
  height: 26px;
  padding-left: 55px;
}

.sw-type-nc input[type=checkbox]:checked + label {
  background: url('../images/switch-off.jpg') no-repeat;
  height: 26px;
}

.sw-type-tw input[type=checkbox] + label {
  background: url('../images/switch-left.jpg') no-repeat;
  height: 26px;
  padding-left: 55px;
}

.sw-type-tw input[type=checkbox]:checked + label {
  background: url('../images/switch-right.jpg') no-repeat;
  height: 26px;
}

.admin-button {
  display:none;
}

.p-hidden {
  display:none;
  font-style: italic;
  text-decoration-style: dotted;
  margin: 4px;
}

.dialog {
  background: #008080;
}

.dialog p {
  margin: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #004545;
  border-radius:10px;
}

.dialog  p label {
  display: inline-block;
  width: 150px;
  padding-top: 5px;
  padding-left: 0px;
}

.dialog  p input:not([type="checkbox"])  {
  display: inline-block;
  width: 100px;
}

.hidden {
  display:none;
}

.music-title {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

.radio {
  margin: 5px;
}

.radio-metatada-song {
  font-size: 100%;
  font-weight: bold;
}

.an-enabled {
  background: #00FF00;
  font-weight: bold;
}

.an-disabled {
  background: #FF0000;
  font-style: italic;
}

.styled-button {
   border-top: 1px solid #929292;
   background: #00c8c8;
   background: -webkit-gradient(linear, left top, left bottom, from(#C8C8C8), to(#909090));
   background: -webkit-linear-gradient(top, #C8C8C8, #909090);
   background: -moz-linear-gradient(top, #C8C8C8, #909090);
   background: -ms-linear-gradient(top, #C8C8C8, #909090);
   background: -o-linear-gradient(top, #C8C8C8, #909090);
   padding: 3px 3px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   text-decoration: none;
   vertical-align: middle;
   margin: 4px;
   }
.styled-button:hover {
   border-top-color: #929292;
   background: #929292;
   color: #FFFFFF;
   }
.styled-button:active {
   border-top-color: #929292;
   background: #929292;
   }
