<?php

$configCameras = array(
	"camera1" =>	array(	"name" => "camera1",
		"description" => "first camera",
		"scheduled-path" => "/path/to/camera1",
		"triggered-path" => "/path/to/camera1/alert",
		"scheduled-files-filter" => "*-snapshot.jpg",
		"triggered-files-filter" => "*.jpg",
		"stream-url" => "/stream/camera1/"
	),
	"camera2" =>	array(	"name" => "camera2",
		"description" => "second camera",
		"scheduled-path" => "/path/to/camera2",
		"triggered-path" => "/path/to/camera2/alert",
		"scheduled-files-filter" => "*-snapshot.jpg",
		"triggered-files-filter" => "*.jpg",
		"stream-url" => "/stream/camera2/"
	),
);
